body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

#passwordContainer, #mainContainer {
    text-align: center;
}

img {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
